.player-card {
    margin: 10px 0;
}

.cart-icon {
    font-size: 24px;
    position: fixed;
    right: 20px;
    top: 20px;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-buttons i {
    margin-right: 5px;
}

.show-more-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-container,
.player-container {
    width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 767.98px) {
    .cart-icon {
        top: 10px;
        right: 10px;
    }

    .cart-badge {
        padding: 3px 7px;
        font-size: 12px;
    }

    .player-card {
        margin-bottom: 15px;
    }

    .btn-group {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
    }

    .social-buttons a {
        display: inline-block;
        margin-bottom: 10px;
    }

    .show-more-btn {
        margin: 10px 0;
    }
}
